@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto auto;
  gap: 12px;
  align-items: center;
  justify-items: center;
  background: #b95a01;
  padding: 20px;
  border-radius: 12px;
}


.container .input_box input{
    max-width: 100px;
    height: 45px;
    border-radius: 8px;
    outline: none;
    text-align: center;
    border: none;
    font-size: 18px;
    color: #777;
}
#icon{
    color: #fff;
    font-size: 19px;
    margin-top: 20px;
}

.container .input_box h6{
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 8px;
}

.input_box input::-webkit-inner-spin-button,
.input_box input::-webkit-outer-spin-button {
    display: none;
}